<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Personal Finance Tracking Login Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/password.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    </head>
    <body class="header">
        <section>
            <div class="container" id="container">
                <div class="form-container">
                    <a href="/login" class="menu-item">
                        <i class="material-icons">arrow_backward</i>
                    </a>
                    <form action="/users/auth" method="POST">
                        <h1>Forgot Password</h1>
                        <br>
                        <input type="email" name="username" placeholder="Email" required/>
                        <input type="password" name="password" placeholder="New Password" required/>
                        <input type="password" name="password" placeholder="Confirm Password" required/>
                        <br>
                        <button type="submit" value="ChangePassword">Change Password</button>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>