<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Personal Finance Tracking Welcome Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/welcome.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    </head>
    <body>
        <section>
                <div>All your money in one place!</div> 
                <div> 
                  <span>Spend less time worrying and more time living life</span>
                </div>
                <br>
                <a href="/login" class="menu-item">
                    <i class="material-icons">arrow_forward</i>
                </a>
        </section>
    </body>
</html>