.avg-income{
background-color: rgba(72, 201, 176,0.4)
}

.avg-expenses{
	background-color: rgba(217, 136, 128,0.5)
}

.avg-savings{
	background-color: rgba(247, 220, 111, 0.5)
}

.balance{
	background-color: rgba(127, 179, 213, 0.5)
}