/* Vertical navigation bar */
html{
	margin-left: 75px;
}

.menu{
	position: fixed;
	top: 0; 
	left: 0;
	width: 90px; 
	height: 100%; 
	background:linear-gradient(180deg, rgba(248, 184, 139,0) 20%, rgba(248, 184, 139,.1) 20%, rgba(248, 184, 139,.1) 40%, rgba(248, 184, 139,.2) 40%, rgba(248, 184, 139,.2) 60%, rgba(248, 184, 139,.4) 60%, rgba(248, 184, 139,.4) 80%, rgba(248, 184, 139,.5) 80%),
	linear-gradient(45deg, rgba(250, 248, 132,.3) 20%, rgba(250, 248, 132,.4) 20%, rgba(250, 248, 132,.4) 40%, rgba(250, 248, 132,.5) 40%, rgba(250, 248, 132,.5) 60%, rgba(250, 248, 132,.6) 60%, rgba(250, 248, 132,.6) 80%, rgba(250, 248, 132,.7) 80%),
	linear-gradient(-45deg, rgba(186, 237, 145,0) 20%, rgba(186, 237, 145,.1) 20%, rgba(186, 237, 145,.1) 40%, rgba(186, 237, 145,.2) 40%, rgba(186, 237, 145,.2) 60%, rgba(186, 237, 145,.4) 60%, rgba(186, 237, 145,.4) 80%, rgba(186, 237, 145,.6) 80%),
	linear-gradient(90deg, rgba(178, 206, 254,0) 20%, rgba(178, 206, 254,.3) 20%, rgba(178, 206, 254,.3) 40%, rgba(178, 206, 254,.5) 40%, rgba(178, 206, 254,.5) 60%, rgba(178, 206, 254,.7) 60%, rgba(178, 206, 254,.7) 80%, rgba(178, 206, 254,.8) 80%),
	linear-gradient(-90deg, rgba(242, 162, 232,0) 20%, rgba(242, 162, 232,.4) 20%, rgba(242, 162, 232,.4) 40%, rgba(242, 162, 232,.5) 40%, rgba(242, 162, 232,.5) 60%, rgba(242, 162, 232,.6) 60%, rgba(242, 162, 232,.6) 80%, rgba(242, 162, 232,.8) 80%),
	linear-gradient(180deg, rgba(254, 163, 170,0) 20%, rgba(254, 163, 170,.4) 20%, rgba(254, 163, 170,.4) 40%, rgba(254, 163, 170,.6) 40%, rgba(254, 163, 170,.6) 60%, rgba(254, 163, 170,.8) 60%, rgba(254, 163, 170,.8) 80%, rgba(254, 163, 170,.9) 80%);; 
	font-size: 16px; 
	font-family: 'Montserrat', sans-serif;
}

.menu__item{
	position: relative; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	padding: 15px 0; 
	text-decoration: none; 
	color: #717D7E;
	transition: 0.3s;
}

.menu__item > i{
	font-size: 2.0em; 
}

.menu__item--active{
	color: #717D7E; 
	background: whitesmoke;
}

.menu__item:hover{
	font-size: 1.5em; 
}

.menu__item::after{
	position: absolute; 
	display: inline-block; 
	top: 50%; 
	transform: translateY(-50%);
	left: 100%;
	content: attr(data-tooltip);
	margin-left: 15px;
	white-space: nowrap;
	padding: 7px 12px; 
	font-size: 0.65em; 
	font-weight: bold;
	background:#73C6B6; 
	border-radius: 10px; 
	color: #ffffff;
	visibility: hidden;
	transition: opacity 0.3s;
}

.menu__item:hover::after{
	opacity: 1;
	visibility: visible; 
}

/* Search box */
