@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
  text-align:center;
  background: linear-gradient(to right, rgb(215, 204, 200), rgb(224, 224, 224));
  background-color: rgb(254, 163, 170);
  background-size: 100% 100%;
  color:#717D7E;
  font-family:'Roboto';
  font-weight:800;
  font-size:32px;
  padding-top:40vh;
  height:100vh;
  overflow:hidden;
}

div {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

div:first-of-type {    
  animation: showup 10s infinite;
}

div:last-of-type {
  animation: reveal 10s infinite;
}

div:last-of-type span {
  margin-left:-355px;
  animation: slidein 10s infinite;
}
.menu-item{
	text-align:center;
	color:#717D7E;
	font-size: 1.5em; 
	padding-top:20vh;
	height:100vh;
	overflow:hidden;
}
.menu-item:hover {
  text-shadow: 2px 2px  #A6ACAF;
}
.menu-item:active {
  text-shadow: 2px 2px  #A6ACAF;
  top: 17px;
}
@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:1;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {opacity:1;width:700px;}
    80% {opacity:1;}
    100% {opacity:1;width:700px;}
}