<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Simple Sidebar - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/stylesheets/import/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="/stylesheets/graph.css">
        <link rel="stylesheet" href="/stylesheets/index.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div id="sidebar-wrapper">
                <div class="list-group list-group-flush menu2">
                    <div class="sidebar-heading"></div>
                    <a href="../" class="menu__item" data-tooltip="Dashboard">
                        <i class="material-icons">home</i>
                    </a>
                    <!-- Transactions -->
                    <a href="./" class="menu__item" data-tooltip="Transactions">
                        <i class="material-icons">receipt_long</i>
                    </a>
                    <!-- Money Insights -->
                    <a href="./" class="menu__item" data-tooltip="Money Insights">
                        <i class="material-icons">insights</i>
                    </a>
                    <!-- Settings -->
                    <a href="./" class="menu__item" data-tooltip="Settings">
                        <i class="material-icons">tune</i>
                    </a>
                    <!-- Logout -->
                    <a href="/logout" class="menu__item" data-tooltip="Logout">
                      <i class="material-icons" onclick="return logoutFunction()">logout</i>
                    </a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">Action</a>
                                        <a class="dropdown-item" href="#!">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#!">Something else here</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <div id="segmentate">
                        <div class="chart">
                            <div>
                            <canvas id="myChart"></canvas>
                            </div>
                            <div>
                            <canvas id="myChart2"></canvas>
                            </div>
                        </div>
                        <div class="chart">
                            <div>
                                <canvas id="myChart3"></canvas>
                            </div>
                            <div>
                                <canvas id="myChart4"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Chart.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
        <script>
            let ctx = document.getElementById('myChart');
            let myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [1,2,3],
                    datasets: [{
                        label: 'Spending',
                        data: [1,2,3],
                        backgroundColor: 'rgba(0,0,0,0)',
                        borderColor: 'rgb(75, 192, 192)',
                        borderWidth: 1
                    }]
                },
                options: {
                    reponsive: true,
                    maintainAspectRatio: false,
                    title: {
                        display: true,
                        text: 'Average Monthly Spending',
                        fontSize: 24,
                        fontColor: 'grey'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
    
            let ctx2 = document.getElementById('myChart2');
            let myChart2 = new Chart(ctx2, {
                type: 'polarArea',
                data: {
                    labels: [1,2,3],
                    datasets: [{
                        label: 'Spending',
                        data: [130,500,200,300,700],
                        backgroundColor: [
                                'rgb(75, 99, 132, 10)',
                                'rgb(75, 192, 192, 10)',
                                'rgb(255, 205, 86, 10)',
                                'rgb(201, 203, 207, 10)',
                                'rgb(54, 162, 235, 10)'
                                ],
                    }]
                },
                options: {
                    reponsive: true,
                    maintainAspectRatio: false,
                    title: {
                        display: true,
                        text: 'Spending per category',
                        fontSize: 24,
                        fontColor: 'grey'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
    
            let ctx3 = document.getElementById('myChart3');
            let myChart3 = new Chart(ctx3, {
                type: 'doughnut',
                data: {
                    labels:['info'],
                    datasets: [{
                        label: 'info',
                        data: [20, 100],
                        backgroundColor: [
                                'rgb(75, 99, 132, 10)',
                                'rgb(75, 192, 192, 10)',
                                'rgb(255, 205, 86, 10)',
                                'rgb(201, 203, 207, 10)',
                                'rgb(54, 162, 235, 10)'
                                ],
                    }]
                },
                options: {
                    reponsive: true,
                    maintainAspectRatio: false,
                    title: {
                        display: true,
                        text: 'Spending per category',
                        fontSize: 24,
                        fontColor: 'grey'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
    
            let ctx4 = document.getElementById('myChart4');
            let myChart4 = new Chart(ctx4, {
                type: 'bar',
                data: {
                    labels:['info', 'something'],
                    datasets: [{
                        label: 'info',
                        data: [30, 100],
                        backgroundColor: [
                                'rgb(75, 99, 132, 10)',
                                'rgb(75, 192, 192, 10)',
                                'rgb(255, 205, 86, 10)',
                                'rgb(201, 203, 207, 10)',
                                'rgb(54, 162, 235, 10)'
                                ],
                    }]
                },
                options: {
                    reponsive: true,
                    maintainAspectRatio: false,
                    title: {
                        display: true,
                        text: 'Spending per category',
                        fontSize: 24,
                        fontColor: 'grey'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
    </body>
</html>