<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/graph.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>

  <body>
    <%= data %>
    <div id="segmentate">
        <div class="chart">
            <div>
            <canvas id="myChart"></canvas>
            </div>
            <div>
            <canvas id="myChart2"></canvas>
            </div>
        </div>
        <div class="chart">
            <div>
                <canvas id="myChart3"></canvas>
            </div>
            <div>
                <canvas id="myChart4"></canvas>
            </div>
        </div>
    </div>
  </body>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    
    <script>
        let ctx = document.getElementById('myChart');
        let myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Jan_w1', 'Jan_w2', 'Jan_w3', 'Jan_w4', 'Feb_w1'],
                datasets: [{
                    label: 'Spending',
                    data: [130,500,200,300,700],
                    backgroundColor: 'rgba(0,0,0,0)',
                    borderColor: 'rgb(75, 192, 192)',
                    borderWidth: 1
                }]
            },
            options: {
                reponsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'Average Monthly Spending',
                    fontSize: 24,
                    fontColor: 'grey'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        let ctx2 = document.getElementById('myChart2');
        let myChart2 = new Chart(ctx2, {
            type: 'polarArea',
            data: {
                labels:['Food','luxury','Transport','Bills','Others'],
                datasets: [{
                    label: 'Spending',
                    data: [130,500,200,300,700],
                    backgroundColor: [
                            'rgb(75, 99, 132, 10)',
                            'rgb(75, 192, 192, 10)',
                            'rgb(255, 205, 86, 10)',
                            'rgb(201, 203, 207, 10)',
                            'rgb(54, 162, 235, 10)'
                            ],
                }]
            },
            options: {
                reponsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'Spending per category',
                    fontSize: 24,
                    fontColor: 'grey'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        let ctx3 = document.getElementById('myChart3');
        let myChart3 = new Chart(ctx3, {
            type: 'doughnut',
            data: {
                labels:['info'],
                datasets: [{
                    label: 'info',
                    data: [20, 100],
                    backgroundColor: [
                            'rgb(75, 99, 132, 10)',
                            'rgb(75, 192, 192, 10)',
                            'rgb(255, 205, 86, 10)',
                            'rgb(201, 203, 207, 10)',
                            'rgb(54, 162, 235, 10)'
                            ],
                }]
            },
            options: {
                reponsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'Spending per category',
                    fontSize: 24,
                    fontColor: 'grey'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        let ctx4 = document.getElementById('myChart4');
        let myChart4 = new Chart(ctx4, {
            type: 'bar',
            data: {
                labels:['info', 'something'],
                datasets: [{
                    label: 'info',
                    data: [30, 100],
                    backgroundColor: [
                            'rgb(75, 99, 132, 10)',
                            'rgb(75, 192, 192, 10)',
                            'rgb(255, 205, 86, 10)',
                            'rgb(201, 203, 207, 10)',
                            'rgb(54, 162, 235, 10)'
                            ],
                }]
            },
            options: {
                reponsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'Spending per category',
                    fontSize: 24,
                    fontColor: 'grey'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
</html>