<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/graph.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="menu">
        <!-- Dashboard -->
        <a href="../" class="menu__item" data-tooltip="Dashboard">
            <i class="material-icons">home</i>
        </a>
        <!-- Transactions -->
        <a href="./" class="menu__item" data-tooltip="Transactions">
            <i class="material-icons">receipt_long</i>
        </a>
        <!-- Money Insights -->
        <a href="./" class="menu__item" data-tooltip="Money Insights">
            <i class="material-icons">insights</i>
        </a>
        <!-- Settings -->
        <a href="./" class="menu__item" data-tooltip="Settings">
            <i class="material-icons">tune</i>
        </a>
        <!-- Logout -->
        <a href="/logout" class="menu__item" data-tooltip="Logout">
          <i class="material-icons" onclick="return logoutFunction()">logout</i>
        </a>
    </nav>
    <div class="main">
    <div>
        <h1 style='color: gray;'> Welcome back, <b><%= name %>.</b> </h1>
    </div>
    <div id="segmentate">
        <div class="chart">
            <div>
            <canvas id="myChart"></canvas>
            </div>
            <div>
            <canvas id="myChart2"></canvas>
            </div>
        </div>
        <div class="chart">
            <div>
                <canvas id="myChart3"></canvas>
            </div>
            <div>
                <canvas id="myChart2"></canvas>
            </div>
        </div>
    </div>
</div>
  </body>
    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script>
        var labelmonths = '<%- labelMonth %>';
        var amount = '<%- data %>';
        var labeldata = '<%- label %>';
    </script>
    <script src="../../js/line-chart.js"></script>
    <script src="../../js/bar-chart.js"></script>
    <script src="../../js/doughnut.js"></script>
</html>